.product-page{

//    background-color: bisque;
    h2{
        justify-content: center;
    }

    form{
        padding-left: 40%;

        select{
            margin-left: 30px;
            padding: 10px;
            border-style: none;
            border-color: rgba(127, 255, 212, 0);
            border-radius: 4px;
        }
        #name{
           margin-left: 30px;
           padding: 10px;
           border-style: none;
           border-color: rgba(127, 255, 212, 0);
           border-radius: 4px;
        }
        input:hover{
            background-color: rgb(211, 253, 254);
            transition: 1ms;
        }
        #price{
            margin-left: 36px;
            padding: 10px;
            border-style: none;
            border-color: rgba(127, 255, 212, 0);
            border-radius: 4px;
        }
        
        label{
            font-family: 'Roboto', sans-serif;
        }
        #description{
            margin-left: 3px;
            padding: 10px;
            border-style: none;
            border-color: rgba(127, 255, 212, 0);
            border-radius: 4px;
        }
        .btn{
            padding-left:100px ;
            #sbtn{
                padding: 10px;
            }
          

        }
     
    }

    
      .product-list {
        width: 100%;
        border-collapse: collapse;
     h2{
      margin-bottom: 5px;
     }
        th,
        td {
          border: 1px solid #ccc;
          padding: 10px;
          text-align: left;
        }

        th {
          background-color: #007bff;
          color: #fff;
        }
      }
}