.product-page {

   
    #head1 {
      padding-left: 45%;
      padding-top: 5%;
      
    }
    #head2{
      padding-left: 5%;
      margin-top: 0;
  
    }
    background-color: #f8f9fa;
  
    h2 {
      justify-content: center;
      color: rgb(0, 0, 0);
      font-style: bold;
    }
  
    form {
    //   padding-left: 40%;
      padding: 100px ;
      padding-left: 550px;
      padding-right: 20%;
      background: #ffffff1f;
      border-radius: 12px;
      box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0),
        0 0 0 2px rgba(255, 255, 255, 0), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    
      #my-selector {
        padding-right: 69px;
      }
      select {
        margin-left: 30px;
        padding: 10px;
        border-style: none;
        border-color: rgba(127, 255, 212, 0);
        border-radius: 4px;
        background-color: #ced4da;
        option {
          background-color: #69b1ff;
        }
      }
      select:hover {
        border-color: #003eb3;
  
        border-style: groove;
        transition: 1s;
  
        box-shadow: 2px 2px 20px rgb(255, 255, 255),
          -2px -2px 4px rgb(255, 255, 255);
      }
      #name {
        margin-left: 30px;
        padding: 10px;
        border-style: none;
        border-color: rgba(127, 255, 212, 0);
        border-radius: 4px;
        padding-right: 145px;
      }
      #name:hover {
        border-color: #003eb3;
  
        border-style: groove;
        transition: 0.1s;
        height: 20px;
        transition: 1s;
  
        box-shadow: 2px 2px 20px rgb(255, 255, 255),
          -2px -2px 4px rgb(255, 255, 255);
      }
  
      #price {
        margin-left: 36px;
        padding: 10px;
        border-style: none;
        border-color: rgba(127, 255, 212, 0);
        border-radius: 4px;
        padding-right: 145px;
      }
      #price:hover {
        border-color: #003eb3;
        border-style: groove;
        transition: 0.1s;
        height: 20px;
        transition: 1s;
  
        box-shadow: 2px 2px 20px rgb(255, 255, 255),
          -2px -2px 4px rgb(255, 255, 255);
      }
  
      label {
        font-family: "Roboto", sans-serif;
      }
      #description {
        margin-left: 3px;
        padding: 10px;
        border-style: none;
        border-color: rgba(127, 255, 212, 0);
        border-radius: 4px;
        padding-right: 136px;
        background-color: #ced4da;
      }
      #description:hover {
        border-color: #003eb3;
        border-style: groove;
     
  
        transition: 1s;
  
        box-shadow: 2px 2px 20px rgb(255, 255, 255),
          -2px -2px 4px rgb(255, 255, 255);
      }
      input {
        background-color: #ced4da;
      }
  
      .btn {
        padding-left: 170px;
  
        #sbtn {
          padding: 10px;
          border-style: none !important;
          border-color: #007bff;
          border-radius: 3px;
        }
  
        #sbtn:hover {
          background-color: #1890ff;
          color: white !important;
          transition: 0.5s;
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        }
      }
    }
  
    .product-list {
      width: 100%;
      border-collapse: collapse;
      padding-left: 36%;
      h2 {
        margin-bottom: 5px;
      }
      th,
      td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: left;
      }
      tr:nth-child(even) {background-color: #bce6ff;}
      th {
        background-color: #007bff;
        color: #fff;
      }
      tr {
        background-color: #f8f9fa;
      }
    }
  }