.product-page{
//    display: flex;
   
    h2{
        justify-content: center;
    }

    form{
        display: flex;
        justify-content: center;
        label{
            font-family: 'Roboto', sans-serif;
        }
    }
}