.Categorie1{
// background-color:  #f8f7ff;

.header{
 
        padding-left: 760px;
    
    
}
.products{

.listproducts{
    
  
    .list1{
        display: flex;
        justify-content: space-evenly;

    }
    .list2{
        display: flex;
        justify-content: space-evenly;

    }
    .list3{
        display: flex;
        justify-content: space-evenly;

    }
  
  

    .product1{
        width: 160px;
        padding: 10px;
        background: #ffffff;
        border-radius: 12px;
        box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0),
          0 0 0 2px rgba(255, 255, 255, 0), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
    .product2{
        width: 160px;
        padding: 10px;
        background: #ffffff;
        border-radius: 12px;
        box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0),
          0 0 0 2px rgba(255, 255, 255, 0), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
    
    .product3{
        width: 160px;
        padding: 10px;
        background: #ffffff;
        border-radius: 12px;
        box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0),
          0 0 0 2px rgba(255, 255, 255, 0), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
    .product4{
        width: 160px;
        padding: 10px;
        background: #ffffff;
        border-radius: 12px;
        box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0),
          0 0 0 2px rgba(255, 255, 255, 0), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
    .product5{
        width: 160px;
        padding: 10px;
        background: #ffffff;
        border-radius: 12px;
        box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0),
          0 0 0 2px rgba(255, 255, 255, 0), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
    .product6{
        width: 160px;
        padding: 10px;
        background: #ffffff;
        border-radius: 12px;
        box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0),
          0 0 0 2px rgba(255, 255, 255, 0), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
    .product7{
        width: 160px;
        padding: 10px;
        background: #ffffff;
        border-radius: 12px;
        box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0),
          0 0 0 2px rgba(255, 255, 255, 0), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
    .product8{
        width: 160px;
        padding: 10px;
        background: #ffffff;
        border-radius: 12px;
        box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0),
          0 0 0 2px rgba(255, 255, 255, 0), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
    .product9{
        width: 160px;
        padding: 10px;
        background: #ffffff;
        border-radius: 12px;
        box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0),
          0 0 0 2px rgba(255, 255, 255, 0), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
    .product10{
        width: 160px;
        padding: 10px;
        background: #ffffff;
        border-radius: 12px;
        box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0),
          0 0 0 2px rgba(255, 255, 255, 0), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
    .product11{
        width: 160px;
        padding: 10px;
        background: #ffffff;
        border-radius: 12px;
        box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0),
          0 0 0 2px rgba(255, 255, 255, 0), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
    .product12{
        width: 160px;
        padding: 10px;
        background: #ffffff;
        border-radius: 12px;
        box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0),
          0 0 0 2px rgba(255, 255, 255, 0), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
    .product13{
        width: 160px;
        padding: 10px;
        background: #ffffff;
        border-radius: 12px;
        box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0),
          0 0 0 2px rgba(255, 255, 255, 0), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
    .product14{
        width: 160px;
        padding: 10px;
        background: #ffffff;
        border-radius: 12px;
        box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0),
          0 0 0 2px rgba(255, 255, 255, 0), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
    .product15{
        width: 160px;
        padding: 10px;
        background: #ffffff;
        border-radius: 12px;
        box-shadow: inset 0 -3em 3em rgba(255, 255, 255, 0),
          0 0 0 2px rgba(255, 255, 255, 0), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    }
    
    
    
    


}



}



}