.navbar {
    display: flex;
    justify-content: end;
    gap: 70px;
    padding: 40px 10px;
 
    background-color:#0E3B43;
    
  
    button {
      margin: 0 10px;
      padding:  0  10px;
    //   background-color: #eee;
    font-family: 'Roboto', sans-serif;

    background: none;
      border: none;
      border-radius: 5px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      color: white;
      
  
      &:hover {
        background-color: #ddd;  
        color: black;
      }
     
    }
  }
  