.total-footer{
background-color: #0E3B43;
color: white;
.our_service {
  display: flex;

  .footer-left {
    display: flex;
    // margin-right: 20%;

    .footer {
      .headf {
        display: flex;

        // padding:4% 20%;
        #os {
          padding-left:  30%;
          padding-top: 4%;
          padding-bottom: 2%;
          // padding-left: ;
          color: yellow;
        }
        #cu {
          padding-left:  49%;
          padding-top: 4%;
          padding-bottom: 2%;
          color: yellow;
          
        }
      }
      .services-list {
        // padding-top: 20%;

        display: flex;
        .service {
          padding: 0 3%;
        }
        .footer-right {
          .footer-contact {
            // padding-top: 10%;
          // padding: 0 3%;

            
          }
         
        }
      }
    }
  }
}
  .footer_social {
    // padding-left: 0%;
    display: flex;
    justify-content: end;
    padding-right: 5%;

    ul {
      display: flex;
    // justify-content: space-between;
    gap: 10%;


      li {
      }
    }
  }

}
