.seller-page {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  
    &__title {
      font-size: 32px;
      margin-top: 0;
    }
  
    &__subtitle {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    &__form {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
  
      &-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
  
        label {
          font-size: 18px;
          margin-bottom: 5px;
        }
  
        input {
          border: 1px solid #ccc;
          border-radius: 5px;
          padding: 5px;
          font-size: 18px;
  
          &:focus {
            outline: none;
            box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
          }
        }
      }
    }
  
    &__button {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
    }
}