// Variables
$primary-color: #3366cc;
$secondary-color: #677385;

// Featured Products
.blogSpot{
  // color: white;
  margin: 0;
background-color: #f2f2f2;
back

.carousal{
  margin-left:10%;
  margin-top: 50px;
  
  // width: 80%;
  // height: 100%;
  // color: white;

}
h1{
  // color: white;
  // margin-left: 40px;
  // margin-top: 80px;
}

.services {
  // background-color: #fff;
  padding: 40px;
     .services-list{
      display: flex;
     
     }

  h2 {
    // color: $primary-color;
    
    font-size: 28px;
    font-weight: bold;
  }
  
  
}
}
